extends layout

block content
    h1 Manage page for Freelancer #{uid}
    h2 Modify basic information of Freelancer #{uid}
    p ---------------------------------------------------------------------------
    form(action='/freelancermodify/freelancer_domodify')
        p pw
            input(type='password' name='pw')
        p name
            input(type='text' value=freelancer.name name='name' required)
        p phone
            input(type='text' value=freelancer.phone name='phone' required)
        p age
            input(type='text' value=freelancer.age name='age' required)
        p career
            input(type='text' value=freelancer.career name='career' required)
        p major
            input(type='text' value=freelancer.major name='major' required)
        p python
            input(type='text' value=freelancer.python name='python' required)
        p java
            input(type='text' value=freelancer.java name='java' required)
        p c
            input(type='text' value=freelancer.c name='c' required)
        p php
            input(type='text' value=freelancer.php name='php' required)
        p nodejs
            input(type='text' value=freelancer.nodejs name='nodejs' required)
        input(type='hidden' name='uid' value=uid)
        input(type='hidden' name='delete' value=0)
        input(type='submit' value='modify')
    p ---------------------------------------------------------------------------
    h2 #{uid}'s Internal Portfolio
    table(style='width:100%' border='1')
        tr
            th client ID
            th questname
            th grade
            th resultreport
            th 의뢰정보
        for p in pi
            tr
                td #{p.uid}
                td #{p.qname}
                td #{p.participantgrade}
                td #{p.resultreport}
                td: a.enter.btn(href='/freelancerquest/quest_information/' + p.qid) 의뢰확인

    p ---------------------------------------------------------------------------
    h2 #{uid}'s External Portfolio
    table(style='width:100%' border='1')
        tr
            th uid
            th portid
            th filename
            th development_info
            th download
            th delete
        each p in pe
            tr
                th #{p.uid}
                th #{p.portid}
                th #{p.filename}
                th #{p.development_info}
                th
                    form(action='/freelancermodify/freelancer_downExternal' method='get')
                        input(type='hidden' name='filename' value=p.filename)
                        input(type='submit' value='download')
                th
                    form(action='/freelancermodify/freelancer_dropExternal' method='get')
                        input(type='hidden' name='portid' value=p.portid)
                        input(type='hidden' name='uid' value=freelancer.uid)
                        input(type='submit' value='delete')
    p ---------------------------------------------------------------------------
    h2 ADD EXTERNAL
    form(action='/freelancermodify/external_update' method='post' enctype='multipart/form-data')
        input(type='hidden' name='uid' value=uid)
        input(type='file' name='file')
        p Development Information
        p
            input(type='text' name='development_info' autocomplete='off')
        p
            input(type='submit')
    p ---------------------------------------------------------------------------
    p Return to the main
    form(action='/freelancer')
        input(type='submit' value='return')
